<div class="container">
    <div class="row">
      <div class="col-md-4" style="display: flex;" >
        <div class="row"></div>
          <i class="fa fa-square" style="font-size:40px;color:rgb(104, 104, 121);padding-left: 25px"></i>
          <p style="color: grey;padding-top: 10px">&nbsp; LOGO &nbsp; &nbsp;  &copy; 2017 Mobiotics. All Rights Reserved.<p>


      </div>
      <div class="col-md-4"></div>



          <div class="col-md-4" style="padding-top:10px; display: flex;font-size:10px">
              <a>About</a>
              <a>Help</a>
              <a>Terms and Conditions</a>
              <a>Privacy Policy</a>
              <a>Support</a>

          </div>
          </div>
              <hr>
  <div class="row">
      <div class="col-md-2">
          <div class="row" style="padding-left: 7px">
              <p>Our apps:</p>
          </div>
          <div class="row">

            <img src="../../assets/img/play_store.png" style="height: 50%;width: 50%">
            <img src="../../assets/img/app-store.webp" style="height: 50%;width: 50%">
          </div>
      </div>
      <div class="col-md-7">

      </div>
      <div class="col-md-3">
        <span>Connect with us:</span>
        <span>
        <i style="padding-left: 10px;padding-right: 10px;" class="fa fa-facebook"></i>
          <i style="padding-left: 10px;padding-right: 10px;"  class="fa fa-pinterest"></i>
          <i style="padding-left: 10px;padding-right: 10px;" class="fa fa-twitter"></i>
          <i style="padding-left: 10px;padding-right: 10px;" class="fa fa-linkedin"></i>
        </span>
        </div>

    </div>
    </div>
    <div class="row" style="padding-top: 50px">

    </div>





