<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
    </div>
    <div style="margin-left: 11vw" class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#"><i class="fa fa-bars" style="color:white;"></i></a></li>
        <li><a href="#"><i class="fa fa-square" style="font-size:30px;color:cyan;"></i></a></li>
        <li style="padding-top:5px"><a href="#" style="color: cyan">LOGO</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="fa fa-search" style="color:white"></i></a></li>
          <li><a href="#"><i class="fa fa-bell " style="color:white"></i></a></li>
          <li><a href="#">
            <i class="fa fa-globe" style="color:white"></i>
            <i class="fa caret-down" style="color: white"></i>

          </a></li>
        </ul>
      </div>
  </nav>

